html {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  flex: auto;
  margin: 0px;
}

a {
  display: inline;
  text-decoration: none;
  color: white;
}

img {
  max-width: 100%;
}

.topcontainer {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  align-content: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  align-self: center;
}

.header .title {
  margin: 10px 0px 10px 0px;
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.toplinks {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  width: 250px;
}

.toplinks div {
  font-size: 18px;
}

.content {
  display: flex;
  width: 70%;
  align-self: center;
}

.content.text {
  display: flex;
  justify-self: flex-end;
  flex-direction: column;
  text-align: center;
  width: 30%;
}

.earth {
  font-size: 48px;
  font-weight: extra-bold;
}

.content.image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.content.image img {
  border-radius: 20px;
}
.second {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.secondcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.secondcontainer .title {
  margin: 20px;
  font-size: 36px;
  color: #1f2937;
  font-weight: 800;
  align-self: center;
}

.secondcontainer .imageboxes {
  display: flex;
  gap: 20px;
  width: 70%;
  justify-content: space-around;
}
.secondcontainer .imageboxes .imagebox {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  color: #1f2937;
  text-align: center;
  width: 256px;
}

.secondcontainer .imageboxes .imagebox img {
  box-sizing: border-box;
  border: 5px solid #3882f6;
  border-radius: 15%;
  min-width: 128px;
  min-height: 128px;
}

.thirdcontainer {
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
}

.thirdcontainer .quotecontainer {
  display: flex;
  flex-direction: column;
  margin: 5%;
  width: 70%;
  text-align: center;
  align-self: center;
  justify-self: center;
}

.thirdcontainer .quotecontainer .quote {
  font-size: 36px;
  color: #1f2937;
}

.thirdcontainer .quotecontainer .quoteauthor {
  font-size: 32px;
  color: grey;
}


