html {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  flex: auto;
  margin: 0px;
}

a {
  display: inline;
  text-decoration: none;
  color: white;
}

.topcontainer {
  display: flex;
  flex-direction: column;
  background-color: #1f2937;
  align-content: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;

  align-self: center;
}

.header .title {
  margin: 10px 0px 10px 0px;
  font-size: 24px;
  font-weight: bold;
  color: #f9faf8;
}

.toplinks {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  width: 250px;
}

.toplinks div {
  font-size: 18px;
}

.content {
  display: flex;
  width: 70%;
  align-self: center;
}

.content.text {
  display: flex;
  justify-self: flex-end;
  flex-direction: column;
  width: 30%;
}

.earth {
  font-size: 48px;
  font-weight: extra-bold;
}

.content button {
  background-color: #3882f6;
  border-radius: 8px;
  width: 140px;
  padding: 5px;
  margin: 15px;
  align-self: center;
  justify-self: center;
  font-weight: 700;
}

.content.image {
  display: flex;
  flex: 1 1 0%;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.content.image img {
  width: inherit;
}
.second{
  display: flex;
  width: 70%;
  justify-self: space-around;
}

.secondcontainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.secondcontainer .title{
  font-size: 32px;
  color:black;
  align-self: center;
}
